body{
    padding: 25px;
    font: 1em;
    
}

*{
    box-sizing: border-box;
    background-color: #eeeeee;
    
}
/*.container{
    /*border: 5px grey;
    border-radius: 0.5em;
    padding: 7px;
    display: flex;
    background-color: #eeeeee;
    
}
.item{
    width: 100px;
    height: 45px;
    padding: 10px;
    background-color: #eeeeee;
    /*border: 0.05px solid purple;
    text-decoration: none;
    /*text-shadow: 1px 1px 0px #000000;
}*/
.header-table{
    position:fixed;
    top: 0;
    right: 0;
    left: 0;
    height: 46px;
    z-index: 100;
}
.header {
    /*position: fixed;*/
    padding: 7px 30px 10px 10px;
    text-transform: none;
    letter-spacing: 0.1em;
    font-size: 100%;
    /*background-color: grey;
    color: black;*/
    /*border-bottom: 2px solid #111111;
    border-top: 1px solid #999;*/
    text-align: right;
    /*position: fixed;*/
}

    
#item1{
    display: flex;
    
}

.oval{
  width: 60px;
  height: 25px;
  background: skyblue;
  border-radius: 50px;
  text-align: center;
  color: white;
  position: relative;
  
  left: 350px;
  
}
.followButton{
     width: 60px;
  height: 25px;
  background: skyblue;
  border-radius: 40px;
  text-align: center;
  color: white;
  position: relative;
  left: 50px;
}
.wrapper{
    max-width: 1190px;
    margin: 56px auto;
    background-color: white;
    float: left;
}
.content-left{
    width: 90px;
    position: relative;
    z-index: 20;
    margin: 5px;
    float: left;
    
    /*float: left;*/
}
.content-center{
    /*display: flex;*/
    float: left;
    width: 300px;
    
}
.statstable{
    padding: 10px ;
}
.content-left, .content-center, .content-right {
width: 300px;
float: left;
margin: 10px;}

.tweets{
    /*background-color: white;*/
    border-bottom: 1px solid #e6ecf0;
}
.tweets, #profilepic, #follow2, #follow4{
    display: flex;
    align-items: center;
  
}
.tweets img{
   /*margin-left: -50px;*/
  position: relative;
  width: 50px;
  height: 50px;
  overflow: hidden;
  border-radius: 50%;
}
#profilepic img{
    position: relative;
  width: 100px;
  height: 100px;
  overflow: hidden;
  border-radius: 50%;
}

#tweet_1{
    border-radius: 50%;
}
#follow1{
    font-size: 200%;
}
#follow2, #follow4{
    font-size: 100%;
}
#follow2 img, #follow4 img{
    position: relative;
    border-radius: 50%;
    width: 50px;
    height: 50px;
}
